body {
	background-color: #ffffff;
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: 14px;
}
h1 {
	color: #ff0000;
}
h2 {
	color:#00ff00;
}
h3{
	color: #0000ff;
}
h4{
	color: #ffff00;
}
p{
	color: 	#C0C0C0;
}
